.footer{
  display:grid;
  background-color:#707070;
  align-items: center;
  padding:30px;
  width: auto;
  color:#fff;
}
.footer-info{
  display: flex;
  flex-direction: column;
}
.quote{
margin: 0;
flex:50%;
}
.Copyright{
  margin: 0;
  flex:50%;
}
